/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #333333f9;
    color: white;
}

/* Header */
header {
    position: relative;
    height: 300px; /* ajusta según la altura que desees */
    overflow: hidden;
}

.header-images {
    display: flex;
    justify-content: space-between; /* distribuye las imágenes */
    height: 100%;
    width: 190px;
}

header h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6rem;
    text-align: center;
}
header button {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: #979797;
}

/* Formulario de agregar película */
nav {
    padding: 20px;
    background-color: rgba(44, 44, 44, 0.968);
}
nav button {
    position: relative;
    padding: 10px 15px;
    margin: 0px 5px;
    left: 38.5%;
    border-radius: 8%;
}

aside {
    position: absolute;
    top: 440px;
    background-color: rgba(79, 79, 79, 0.881);
    margin: 0 20px;
    padding: 20px;
    border-radius: 1%;
}

button {
    background-color: #bababa;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

form {
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}
#addMovieToggle {
    margin: 20px;
}
#addMovieForm {
    position: absolute;
    right: 20px;
    top: 375px;
    margin: 10px;
}
#filtersToggle {
    margin: 5px 10px;
}
#filters {
    position: absolute;
    top: 18px;
    left: 150px;
}
/* Contenedor de las películas */
#movieList {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
/* Estilos de cada tarjeta de película */
.movie-card {
    width: 200px;
    background-color: rgba(59, 59, 59, 0.881);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #f0f0f0;
    border: solid 2px black;
}

.movie-card img {
    width: 190px;
    height: 250px;
    border-radius: 10px;
    border: solid 2px black;
}

.movie-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: rgb(133, 0, 228);
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    color: #f0f0f0;
    border: solid 2px black;
    word-wrap: break-word;
}
.modal-content img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border: solid 2px black;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 125px);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#filters {
    margin: 10px;
}

/* Estilos del modo oscuro */
body.other-mode {
    background-color: rgb(219, 219, 219);
    color: #333;
}
header.other-mode {
    background-color: #333;
}
nav.other-mode {
    background-color: rgba(101, 101, 101, 0.881);
}
aside.other-mode {
    background-color: rgba(175, 175, 175, 0.881);
}
button.other-mode {
    background-color: #535353;
    color: rgb(228, 228, 228);
}
.movie-card.other-mode {
    background-color: rgb(129, 129, 129);
    box-shadow: 0 0 5px rgba(197, 36, 36, 0.1);
    color: white;
}