body{
    background-color:rgb(155, 225, 255);
}
header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: flex-start;
    position: absolute;
}
.tube {
    display: flex;
    border: 1px solid black;
    width: 60px;
    height: 450px;
    position: relative;
}
.marcador{
    margin: 21px 10px 0px 30px;
    height: 50px;
}
.marcador-tube{
    display: flex;
    position: relative;
    height: 0px;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
    top: 220px;
}
.tubos{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.controls{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.altura{
    margin: 10px;
}